.skills {
  padding-top: 10px;
}

.skill-section-title {
  display: block;
  padding-top: 10px;
  font-size: 1.1em;
  font-weight: 700;
}

.skill-section {
  display: block;
  margin: 10px 0;
}

.skill {
  padding: 10px 0;
}