@import 'header';
@import 'sidebar';

body {
  font-family: "PT Sans", "Lucida Sans", sans-serif;
  font-size: 13px;
  margin: 0;
  background-color: lightgray;
}

.container {
  width: 900px;
  margin: 0 auto;
  vertical-align: top;
  background-color: white;
}

.main {
  width: 640px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 10px 0 10px 20px;
}

h1, h2 {
  font-weight: 500;
  letter-spacing: 0.1em;
}

h4 {
  padding: 0;
  margin: 0 0 1em 0;
}

.summary {
  padding: 10px 0;
}

@import 'print';