body {
  font-family: "PT Sans", "Lucida Sans", sans-serif;
  font-size: 13px;
  margin: 0;
  background-color: lightgray;
}

.container {
  width: 900px;
  margin: 0 auto;
  vertical-align: top;
  background-color: white;
}

h1, h2 {
  font-weight: 500;
}

h4 {
  padding: 0;
  margin: 0 0 1em 0;
}

@import 'header';
@import 'sidebar';
@import 'experience';
@import 'print';